body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffe0a1;
}
.footer {
    font-size: small;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    width: 7.5em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #707070;
    color: #fff;
    text-align: center;
}
.search-engine {
  display: inline-block;
  margin: 10px;
}
.search-engine img {
  width: 100px;
  height: 100px;
}
.search-engine input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 16px;
}
.search-engine button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}
.search-engine button:hover {
  background-color: #45a049;
}
